<div class="modal" id="imageUploadModal" tabindex="-1" data-show="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Image Upload</h3>
  </div>
  <div class="modal-body">
    <!-- <div style="text-align:center;"><a class="btn" onclick="$('#picture-uploader').click()">Select Image</a></div>
    <input type="hidden" name="att_type" value="photo"></input>
    <input id="picture-uploader" style="visibility: collapse; width: 0px;" type="file">
    <div style="text-align: center;"><img id="img-upload-preview" style="height:80px;"/></div>-->
    <span>Select Photo:</span>
    <input id="picture-uploader" type="file"><br/>
    <span>Description:</span>
    <input id="picture-description" name="description" type="text"><br/>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="picture-save">Save changes</button>
  </div>
</div>

