<div class="attachment">
  <video width="70%" controls="controls">
    <source src="<%= url %>" type="<%= attfile_content_type %>"/>
    Your browser does not support the video tag.
  </video>
  <br/>
	<h3 class="caption"><%= description %></h3>
</div>
