<div class="span12">
	<div class="row">
	  <h3 class="pull-left" style="margin-left:20px;">Project Organizer</h3>
	  <div class="btn-toolbar pull-right" style="margin: 0;">
	      <div class="btn-group">
	        <form class="form-search toolbar-search">
	          <div class="input-append">
	            <input type="text" class="span2 search-query">
	            <button type="submit" class="btn">Search</button>
	          </div>
	        </form>
	      </div><!-- /btn-group -->
	      <div class="btn-group">
	        <button class="btn dropdown-toggle" data-toggle="dropdown">Sort <span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li><a href="#">By Date</a></li>
	          <li><a href="#">By Title</a></li>
	          <li><a href="#">By Popularity</a></li>
	        </ul>
	      </div><!-- /btn-group -->
	    </div><!-- /btn-toolbar -->
	</div><!-- /row -->
	<hr/>
	<div id="project-container" class="row"></div>
<div>