<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= name %></h3>
  </div>
  <div class="modal-body">
<iframe src="<%= iframeSource %>" width="100%">
	
</iframe>
  </div>
  
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn btn-large btn-primary">Close</a>
    <!-- <a href="#" class="btn btn-primary widgetAdd">Add to Profile</a> -->
  </div>
