<h1>Upload A Widget</h1>
<hr>
<form class="form-horizontal offset2">
  
  <div class="control-group">
    <label class="control-label" for="widgetName">Widget Name</label>
    <div class="controls">
      <input type="text" id="widgetName" placeholder="Name of the widget...">
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      <textarea id ="description" rows="6" placeholder="Type some description"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="location">Location</label>
    <div class="controls">
      <input type="text" id="location" placeholder="Where in the server is it stored..">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="thumbnail">Thumbnail</label>
    <div class="controls">
      <input type="text" id="thumbnail" placeholder="Paste a URL">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn-primary upload-widget">Upload Widget</button>
    </div>
  </div>

</form>

<hr>