<div class="span4">
	<div class="widget-marketplace-item">
		<h4><%= title %></h4>
		<div style="height:154px; overflow:hidden;"><img src="<%= thumbnail %>" style="width:100%"/></div>
		<div class="controls">
			<a class="btn btn-small add" href="#"><i class="icon-plus"></i></a>
		</div>
	</div>
</div>