<div class="span4">
	<div class="widget-marketplace-item">
		<div style="height:30px; overflow:hidden;"><h4><%= name %></h4></div>
		<div style="height:154px; overflow:hidden;"><img src="<%= thumbnail %>" style="width:100%"/></div>
		<div class="controls">
			<a class="btn btn-small add" href="#marketplace"><i class="icon-plus"></i></a>
		</div>
	</div>
</div>