<div id="main-content1" class="row">
	<div class="span6 offset3">
		<form class="form">
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">Project Title</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="Title" style="width:100%;">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Description</label>
		    <div class="controls">
		      <textarea id="inputPassword" placeholder="Description" rows="12" style="width:100%"></textarea>
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <input type="text" id="inputEmail" placeholder="Tags" style="width:100%;">
		    </div>
		  </div>
		  <div class="control-group">
		  	<a class="btn btn-small" href="#" class="delete"><i class="icon-picture"></i></a>
		    <div class="controls pull-right">
		      <button type="submit" class="btn">Cancel</button>
		      <button type="submit" class="btn btn-primary">Save</button>
		    </div>
		  </div>
		</form>
	<div/>
</div>