<div class="span12">
	<div class="row">
		<h3 class="" style="margin-left:20px;">Dashboard</h3>
	<hr/>
	</div>
	<div class="row">
		<div id="dashboard" class="dashboard">
			<div class="dashboard-entry row">
				<img src="http://500px.com/graphics/userpic.png"/>
				<div class="dashboard-entry-text">Nicolas has added Temple Escape in his Portfolio.</div>
			</div>

			<div class="dashboard-entry row">
				<img src="http://www.craigzilla.dk/myspace/images/profile_image.png"/>
				<div class="dashboard-entry-text">Nicolas has added Temple Escape in his Portfolio.</div>
			</div>

			<div class="dashboard-entry row">
				<img src="http://www.myplusbuddies.com/images/dummy_profile1.jpg"/>
				<div class="dashboard-entry-text">Nicolas has added Temple Escape in his Portfolio.</div>
			</div>

			<div class="dashboard-entry row">
				<img src="http://500px.com/graphics/userpic.png"/>
				<div class="dashboard-entry-text">Nicolas has added Temple Escape in his Portfolio.</div>
			</div>

		</div>
	</div>
</div>