<div class="span12">
	<div class="row">
		<h3 class="" style="margin-left:20px;">Following</h3>
	<hr/>
	</div>
	<div class="row">
		<div id="following-container" class="dashboard">
		</div>
	</div>
</div>