<div id="profile-container">
</div>
<div id="profile-content" class="row">
	<div class="span12 offset2">
		<div id="profile-username" class="profile-top" style="margin-top: 20px; margin-bottom: 0px;">
			<a id="profile-username-text">Projects</a>
		</div>
		<div id="project-container">
		</div>
	</div>
</div>
<div id="profile-addon" class="row">
	<div class="span12 offset2">
		<div id="profile-username" class="profile-top" style="margin-top: 20px; margin-bottom: 0px;">
			<a id="profile-username-text">Add-Ons</a>
		</div>
		<div id="addon-container" style="height:60px;">
		</div>
	</div>
</div>