<div class="span12">
    <div class="row">
        <div>
            <table width="100%">
                <tr>
                    <td><h3>Name</h2></td>
                    <td style="text-align:right;"><img id="img_edit_name" src="assets/edit.png" width="20px" style="cursor:pointer;"></img></td>
                </tr>
                <tr>
                    <td colspan="2"><p id="name-text"><%= name %></p><input id="name-input" style="display:none;"></input></td>
                </tr>
                <tr>
                    <td><h3>About Me</h2></td>
                    <td style="text-align:right;"><img id="img_edit_summary" src="assets/edit.png" width="20px" style="cursor:pointer;"></img></td>
                </tr>
                <tr>
                    <td colspan="2"><p id="summary-text" style="text-align:justify; min-height:40px;"><%= description %></p><textarea id="summary-input" style="display:none; width:940px; height:150px"></textarea></td>
                </tr>
                <tr>
                    <td><h3>Theme</h2></td>
                    <td style="text-align:right;"><img id="img_edit_summary" src="assets/edit.png" width="20px" style="cursor:pointer;"></img></td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                </tr>
            </table>
            <div class="themes">
                <div class="row">
                            <div class="span4">
                                <div class="theme-item">
                                    <h4 class="title">BlueGrid</h4>
                                    <p class="desc"></p>
                                    <div class="thmb" style="height:200px; overflow:hidden;"><img src="http://f.cl.ly/items/1S29450J3U1H0P2m2C0L/Screen%20Shot%202012-11-10%20at%206.41.10%20PM.png" style="width:100%"/></div>
                                    <div class="controls">
                                      <a class="btn btn-small preview" target="_blank" href="#profile/preview/BlueGrid">Preview</a>
                                        <a class="btn btn-small select">Select</a>
                                    </div>
                                    <div class="panel_foot"></div>
                                </div>
                            </div>
                            <div class="span4">
                                 <div class="theme-item">
                                    <h4 class="title">GreenGrid</h4>
                                    <p class="desc"></p>
                                    <div class="thmb" style="height:200px; overflow:hidden;"><img src="http://f.cl.ly/items/1J013e2Z4526460A0K3D/Screen%20Shot%202012-11-10%20at%206.40.01%20PM.png" style="width:100%"/></div>
                                    <div class="controls">
                                        <a class="btn btn-small preview" target="_blank" href="#profile/preview/GreenGrid">Preview</a>
                                        <a class="btn btn-small select">Select</a>
                                    </div>
                                    <div class="panel_foot"></div>
                                </div>
                            </div>
                            <div class="span4">
                                 <div class="theme-item">
                                    <h4 class="title">BluePhoto</h4>
                                    <p class="desc"></p>
                                    <div class="thmb" style="height:200px; overflow:hidden;"><img src="http://f.cl.ly/items/0n3g0Q29190m1g1Q0o21/Screen%20Shot%202012-11-10%20at%206.41.43%20PM.png" style="width:100%"/></div>
                                    <div class="controls">
                                       <a class="btn btn-small preview" target="_blank" href="#profile/preview/BluePhoto">Preview</a>
                                        <a class="btn btn-small select">Select</a>
                                    </div>
                                    <div class="panel_foot"></div>
                                </div>
                            </div>
                            <div class="span4">
                                 <div class="theme-item">
                                    <h4 class="title">GreenPhoto</h4>
                                    <p class="desc"></p>
                                    <div class="thmb" style="height:200px; overflow:hidden;"><img src="http://f.cl.ly/items/1N0L093v080u2W220V37/Screen%20Shot%202012-11-10%20at%206.42.35%20PM.png" style="width:100%"/></div>
                                    <div class="controls">
                                       <a class="btn btn-small preview" target="_blank" href="#profile/preview/GreenPhoto">Preview</a>
                                        <a class="btn btn-small select">Select</a>
                                    </div>
                                    <div class="panel_foot"></div>
                                </div>
                            </div>
                            <div class="span4">
                                 <div class="theme-item">
                                    <h4 class="title">BlueList</h4>
                                    <p class="desc"></p>
                                    <div class="thmb" style="height:200px; overflow:hidden;"><img src="http://f.cl.ly/items/1Q2o2x0P1z083y0m0l3t/Screen%20Shot%202012-11-10%20at%206.39.35%20PM.png" style="width:100%"/></div>
                                    <div class="controls">
                                       <a class="btn btn-small preview" target="_blank" href="#profile/preview/Bluelist">Preview</a>
                                        <a class="btn btn-small select">Select</a>
                                    </div>
                                    <div class="panel_foot"></div>
                                </div>
                            </div>
                            <div class="span4">
                                 <div class="theme-item">
                                    <h4 class="title">GreenList</h4>
                                    <p class="desc"></p>
                                    <div class="thmb" style="height:200px; overflow:hidden;"><img src="http://f.cl.ly/items/1v3X2m1d2b2O1y0z1y2v/Screen%20Shot%202012-11-10%20at%206.37.14%20PM.png" style="width:100%"/></div>
                                    <div class="controls">
                                       <a class="btn btn-small preview" target="_blank" href="#profile/preview/Greenlist">Preview</a>
                                        <a class="btn btn-small select">Select</a>
                                    </div>
                                    <div class="panel_foot"></div>
                                </div>
                            </div>
                        </div>
                        </div>
            <div style="margin:10px 0 20px 0; height:100px;">
                <button class='btn btn-primary' id="save-profile">Save</button>
            </div>
        </div>
    </div>
</div>