<div class="span12">
    <div class="row">
        <div>
            <table width="100%">
                <tr>
                    <td><h3>Name</h2></td>
                    <td style="text-align:right;"><img id="img_edit_name" src="assets/edit.png" width="20px" style="cursor:pointer;"></img></td>
                </tr>
                <tr>
                    <td colspan="2"><p id="name-text"><%= name %></p><input id="name-input" style="display:none;"></input></td>
                </tr>
                <tr>
                    <td><h3>About Me</h2></td>
                    <td style="text-align:right;"><img id="img_edit_summary" src="assets/edit.png" width="20px" style="cursor:pointer;"></img></td>
                </tr>
                <tr>
                    <td colspan="2"><p id="summary-text" style="text-align:justify; min-height:40px;"><%= description %></p><textarea id="summary-input" style="display:none; width:940px; height:150px"></textarea></td>
                </tr>
                <tr>
                    <td><h3>Theme</h2></td>
                    <td style="text-align:right;"><img id="img_edit_summary" src="assets/edit.png" width="20px" style="cursor:pointer;"></img></td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                </tr>
            </table>
            <div class="themes">
                <div class="row themesr">
                            
                </div>
            </div>
            <div style="margin:10px 0 20px 0; height:100px;">
                <button class='btn btn-primary' id="save-profile">Save</button>
            </div>
        </div>
    </div>
</div>