<div class="row">	
	<div class="offset2 span12" style="margin-top:20px;">
		<div id="profile-username" class="profile-top">
			<a id="profile-username-text"><%= name %></a>
		</div>
		<div id="profile-header" class="profile-header">
			<div class="row">
				<div class="span3" style="border-right: 1px solid #E5E5E5; text-align:center; margin-left:0px">
					<img style="width:138px; height:138px;" src="<%= photo_url %>"/>
				</div>
				<div class="span6">
					<h3 class="lead">About Me</h3>
					<p><%= description %></p>
				</div>
				<div class="span2">
					<ul class="unstyled profile-statistic">
				      <li>Portfolio Views <span class="right">0</span></li>
				      <li>Kudos <span class="right">0</span></li>
				      <li>Followers <span id="followersCount" class="right">0</span></li>
				    </ul>
				    <button id="followMe" type="button" class="btn btn-primary" style="display:none;">
					  <i class="icon-plus"></i> Follow User
					</button>
				</div>
			</div>
		</div>
	</div>
</div>