<div class="span12">

	<div class="hero-unit">
        <h1>Welcome to Describe.me</h1>
        <p>Descibe.Me is a platform for passion expression. It allows you to share your creations and products, and showcase your talents and passions. Start building up your profile, and share your creations globally.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  	</div>

<div class="span3" style="background:#000">
	test
</div>

</div>