<div class="row-fluid">	
	<div class="span9" style="margin-top:20px;">
		<div class="profile-top" style="margin-left: 20px;">
			<div id="profile-username-text" class="project-name"><%= title %></div>
		</div>
		
		<div id="project-container" class="profile-header" style="margin-left: 20px;">
			
		</div>
		
	</div>
	<div class="span3">
		<div class="sidebar-container">
			<div class="sidebar-block">
				<div class="sidebar-label">
					Done by
				</div>
				<div id="project-owner"></div>
			</div>
			<div class="sidebar-block">
				<div class="sidebar-label">
					About Project
				</div>
				<div style="padding-bottom:10px"><%= desc%></div>
				<div class="button-groups" style="padding-top: 10px; text-align:center">
					<button type="button" class="btn btn-primary">
					  <i class=" icon-heart"></i> Kudos
					</button>
					
					<button type="button" class="btn btn-primary">
					  <i class="icon-plus"></i> Follow
					</button>
				</div>
			</div>
			<div class="sidebar-block">
				<div class="sidebar-label">
					Statistics
				</div>
				<div><ul class="unstyled profile-statistic">
				      <li>Kudos <span class="right">0</span></li>
				      <li>Comments <span class="right">0</span></li>
				    </ul></div>
			</div>
		</div>
	</div>
</div>


