<div class="row">
  <h2 class="pull-left" style="margin-left:20px;">Project Organizer</h2>
  <div class="btn-toolbar pull-right" style="margin: 0;">
      <div class="btn-group">
        <form class="form-search toolbar-search">
          <div class="input-append">
            <input type="text" class="span2 search-query">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Filter</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <div class="btn-group">
        <a class="btn btn-primary pull-right" style="" href="#projects/new"><i class="icon-plus-sign icon-white"></i> Project </a>
      </div><!-- /btn-group -->
    </div><!-- /btn-toolbar -->
</div><!-- /row -->
<hr/>
<div id="project-container" class="row"></div>