<div class="span4">
    <div class="theme-item">
        <h4 class="title"><%=name%></h4>
        <p class="desc"></p>
        <div class="thmb" style="height:200px; overflow:hidden;"><img src="<%=thumb%>" style="width:100%"/></div>
        <div class="controls">
          <a class="btn btn-small preview" target="_blank" href="#profile/preview/<%=name%>">Preview</a>
            <a class="btn btn-small select">Select</a>
        </div>
        <div class="panel_foot"></div>
    </div>
</div>